.cart{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom:4%;
    align-items: center;
}
.cart img{
    width: 80%;
}
@media (max-width: 576px) { 
    .cart{
       display:flex;
   flex-direction: column;
    text-align: center;
}
  .cart img{
     width: 80%;
     height: 100px;
    margin: 0 auto;
        }

}